.m-date {
    font-family: MISA font;
    width: 140px;
    height: 36px;
    padding-right: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

input[type="date"]:focus {
    border: 1px solid #E0E1E4;
}