.filter-group {
    position: relative;
    /* margin-left: 15px; */
}

.filter-box {
    /* right: 23px; */
    width: 360px;
}

.filter-group .filter-box {
    margin-top: 12px;
    position: absolute;
    top: 100%;
    right: 0;
    display: block;
    z-index: 13;
    border-radius: var(--border-radius);
    box-shadow: 0 0 16px rgba(23, 27, 42, 0.24);
    background-color: #fff;
}

.filter-group .filter-box::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    transform: translateY(-100%);
}

.custom-arrow {
    position: absolute;
    top: 0;
    right: 20px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    transform: translateY(-100%);
    transition: border-color .2s linear;
    box-shadow: 0 -20px 20px 0 rgba(0, 0, 0, 0.08);
}

/* box header */

.filter-group .filter-box .box-header {
    width: 100%;
    padding: 12px 22px 8px 24px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    
}

.filter-group .filter-box .box-header .title {
    font-size: 18px;
    font-weight: 700;
}

.filter-group .filter-box .box-header .close-icon {
    cursor: pointer;
}

.filter-group .filter-box .box-header .close-icon::before {
    cursor: pointer;
}

/* box content */

.filter-group .filter-box .box-content {
    width: 100%;
    padding: 12px 24px 10px 24px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.filter-group .filter-box .box-content .form-group label {
    display: inline-block;
    padding: 8px 8px 0 0;
    color: #666;
    margin: 0;
}

.filter-group .filter-box .box-content .form-group {
    margin-bottom: 14px;
}

/* box footer */

.filter-group .filter-box .box-footer {
    width: 100%;
    padding: 12px 24px;
    background-color: #fbfbfe;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: 1px solid #ddd;
    display: flex;
}

.filter-group .filter-box .box-footer .right-content {
    margin-left: auto;
    margin-right: 0;
}

.filter-group .filter-box .box-footer .right-content .button {
    display: inline-block;
    /* border: none; */
    padding: 0 0;
    margin: 0 0;
}

button.btn-filter {
    /* padding: 0 16px; */
    box-sizing: border-box;
}

.filter-group .filter-box .box-footer .right-content .button .button__text {
    padding: 0 16px;
}
